.button {
  display: inline-block;
  border-radius: 3px;
  font-size: 16px;
  text-decoration: none;
  padding: 15px 30px;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
  font-weight: bold;
}

.button-hit:before{ 
  content: "Хит-продаж!";
}


.button-hit {
  background: #bd372b;
  color: #fff;
}

.button-hit:hover:before {
  content: "Заказать";
}

/* Адаптивность кнопки хит продаж */

@media screen and (max-width: 940px) {
  .button-hit:before { 
    content: "Заказать хит-продаж!";
  }
  .button-hit {
  background: #bd372b;
  width: 200px;
  color: #fff;
  }
  .button-hit:hover:before {
  content: "Заказать хит-продаж!";
  }
}

/*--------------------------------*/
.button-green {
  background: #8aba56;
  color: #fff;
}

.button-green:hover {
  background: #6a9a36;
  transition: all ease .3s;
}

.button-green-light {
  background: #aacc87;
  color: #fff;
}

.button-green-light:hover {
  background: #6a9a36;
  transition: all ease .3s;
}

.button-blue {
  background: #59a3fc;
  color: #fff;
}

.button-blue:hover {
  background: #4069ff;
  transition: all ease .3s;
}
