.header {
  position: fixed;
  width: 100%;
  background: #fff;
  top: 0;
  opacity: 0.9;
}

.header-logo {
  width: 64%;
  height: 100%;
  margin-right: 18%;
  margin-left: 18%;
}

.header-nav {
  vertical-align: baseline;
  line-height: 36px;
}

.header-nav-item {
  list-style: none;
  padding: 0 20px;
  margin: 0;
  display: inline-block;
}

.optimized-align {
}
.optimized-padding{
}

.header-nav-link {
  text-decoration: none;
  color: gray;
  font-weight: bold;
}

.header-nav-link:hover {
  color: #333;
  transition: all ease .3s;
}

.menu-item-optimized {
}

.menu-adaptive {
 display: none;
}

.responsive li {
  float: none;
  display: block;
  text-align: left;
}

.responsive a.icon {
  position: absolute;
  right: 5%;
  top: 5%;
}

.header.out {
  transform: translateY(-100%);
}

@media screen and (max-width: 640px) {
  .menu-item-optimized {
    display: none;
  }
  .optimized-align{
    text-align: left;
  }
  .optimized-padding{
    padding: 0px;
  }
  .menu-adaptive {
    float: right;
    display: block;
  }
  .header {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  transition: all .3s ease;
  }
  .nav-up {top: -100%;}
}
